@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.myform{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form{
    width: 380px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 10px 35px rgba(92, 99, 105, 0.2);
}
.formtitle{
    font-size: 24px;
    margin-bottom: 30px;

}
.formdiv{
    position: relative;
    height: 48px;
    margin-bottom: 24px;
}
.forminput{
    outline: none;
    position: absolute;
    height:100%;
    width:100%;
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 5px;
    padding: 16px;
    background: none;
    z-index: 1;
}
.formlabel{
    position: absolute;
    top: 8px;
    left: 15px;
    padding: 3px;
    font-size:16px;
    background: white;
    color:gray;
    transition: .3s;
}
.formbtn{
    margin-top: 10px;
    display: block;
    margin-left: auto;
    padding: 10px 30px;
    outline: none;
    border: none;
    background-color: #1a73e8;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s linear;
}
.formbtn:hover{
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.5);
}
/* Animation */
.forminput:focus+.formlabel, .forminput:not(:placeholder-shown).forminput:not(:focus)+.formlabel{
    top: -16px;
    left: 16px;
    color: #1a73e8;
    font-size: 16px;
    font-weight: 500;
    z-index: 10;
}
.forminput:focus{
    border: 1px solid #1a73e8;
}